.signin-wrapper {
  background-color: white;
}

.signin-content {
  height: 700px;
  background-image: url('images/background-signup.png');
}

.sign-in-container {
  background: rgba(0, 0, 0, 0.75);
  border-radius: 4px;

  width: 450px;
  height: 660px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
}

.signin-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  label {
    font-family: 'Netflix Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: 0.01em;
    color: #ffffff;
  }

  input {
    height: 50px;
    width: 314px;
    background-color: #303030;
    color: #8c8c8c;
    padding-left: 20px;
    margin-top: 20px;
    border: 0px;
  }

  button {
    background: #e50914;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.55);
    border-radius: 4px;
    color: white;
    width: 314px;
    margin-top: 20px;
  }
}
