.main-show__container {
  background-image: url('../../../../assets/images/temp-big-image.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 10%;
  height: 810px; // todo: add adaptive
}

.main-show__content {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.buttons-container {
  margin-top: 100px;
  justify-content: space-between;
}

.main-show__description {
  color: #fff;
  font-size: 1.2vw;
  font-weight: 400;
  line-height: normal;
  margin-top: 0.1vw;
  text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
}
