.card-list_wrapper {

}

.card-list__title {
    color: white;
    font-family: "NetflixSansRegular";
    padding-top: 30px;
    padding-bottom: 10px;
    display: inline-flex;
    align-items: center;
}

.card_list {
    display: flex;
    list-style: none;
}

.list_item {
    margin-left: 15px;
}